# Игнорировать файлы сборки и зависимости
/node_modules/
/dist/
/build/
.venv

# Игнорировать локальные версии Python
.python-version

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp

# Игнорировать системные файлы
.DS_Store
Thumbs.db
__pycache__

# Игнорировать логи и кэш
*.log
*.tmp

# Игнорировать конфиденциальные данные
.env
*.key

# Игнорировать файлы настроек, личные данные
